streamlit
requests
uuid
langchain
langchain-community
langchain-core
openai
langchain-openai
streamlit-webrtc
flask
flask-cors
base64
threading
datetime
typing
ultralytics>=8.0.0
opencv-python
numpy